*{
    margin:0px;
    padding-left:0px;
    padding-right:0px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
  }
  
  html{
      font-size: 16px;
  }
  
  
  .position{
      position:relative;
  }

  body {
      font-family:'Open Sans Condensed', sans-serif;
      font-style: normal; 
  }


  /* website structure */
  
  .row {
      margin-left: 1px;
      margin-right: 1px;
  }
  
  @media only screen and (min-width: 728px) {
      .row {
            margin-left: 1px;
            margin-right: 1px;
          }
      }
  
     @media only screen and (min-width: 1535px) {
        .row {
              margin-left:1px;
              margin-right:1px;
            }
        }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    padding-top:0px;
  }
  
  
  .onethird,.twothird,.onefourth,.half {
       float:left;
        width:100%;
  }

  
  
  @media only screen and (min-width: 728px) {
  .onethird {
      width:33%;
      }
  }

  @media only screen and (min-width: 1535px) {
    .onethird {
        width:33%;
        }
    }

  @media only screen and (min-width: 728px) {
  .onefourth {
    width:24.7%;
      }
  }

  @media only screen and (min-width: 1535px) {
    .onefourth {
      width:24.7%;
        }
    }

  @media only screen and (min-width: 728px) {
  .half {
      width:50%;
    }
  }

  @media only screen and (min-width: 1535px) {
    .half {
        width:50%;
      }
    }
  
  @media only screen and (min-width: 728px) {
  .twothird{
      width: 66.6%; 
    }
  }

  @media only screen and (min-width: 1535px) {
    .twothird{
        width: 66.6%; 
      }
    }
    


  /* hovering & moving effect*/
  
    .social1:hover{
        animation: shake 15s;
        animation-iteration-count: infinite;
      }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(360deg); }
        10% { transform: translate(-1px, -2px) rotate(0deg); }
        20% { transform: translate(-3px, 0px) rotate(0deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(0); }
        50% { transform: translate(-1px, 2px) rotate(0deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(0deg); }
        80% { transform: translate(-1px, -1px) rotate(0deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(0deg); }
      }
  
      .social:hover{
        animation: leaf 8s;
        animation-iteration-count: infinite;
      }
    
      @keyframes leaf {
        0% { transform: translate(1px, 1px) rotate(20deg); }
        10% { transform: translate(-1px, -2px) rotate(-2deg); }
        20% { transform: translate(-3px, 0px) rotate(2deg); }
        30% { transform: translate(3px, 2px) rotate(1deg); }
        40% { transform: translate(1px, -1px) rotate(2deg); }
        50% { transform: translate(-1px, 2px) rotate(0deg); }
        60% { transform: translate(-3px, 1px) rotate(1deg); }
        70% { transform: translate(3px, 1px) rotate(0deg); }
        80% { transform: translate(-1px, -1px) rotate(2deg); }
        90% { transform: translate(1px, 2px) rotate(1deg); }
        100% { transform: translate(1px, -2px) rotate(-2deg); }
      }

      .social2:hover{
        animation: camera 0.5s;
        animation-iteration-count: infinite;
      }

      @keyframes camera {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
      

  /*Images*/
  
  .imgdes{
    width:100%;
    height:auto;
    object-fit: cover;
    text-align:center;
    transition: transform .1s;
    margin-bottom:10px;
  }

  .imgdes1{
    width:100%;
    height:auto;
    object-fit: cover;
    text-align:center;
    transition: transform .1s;
    border-radius:100%;
    margin-bottom:10px;
      }
   
  /*hover effect on images*/
  .imgdes:hover{
    
    transform: scale(1.05); 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8)
  }

  .imgdes1:hover{
        transform: scale(1.05); 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7)
  }
  
  .images {
      padding:60px;
      padding-top:10px;
      padding-bottom:10px;
      margin-left:10px;
      margin-right:10px;
      text-align: center;
    }
   
    @media only screen and (min-width: 728px) {
      .images {
        padding:10px;
        padding-top:30px;
        margin-left:10px;
      }
    }
  
    @media only screen and (min-width: 1535px) {
        .images {
          padding:60px;
          padding-top:0px;
          margin-left:10px;
        }
      }
    
  
    /*header*/
  .websiteheader {
      text-align:center;
      padding-bottom:4px;
      padding-top:4px;
     }

     /*logo*/
          
  .logo{     
       width:60pt;
       }

  @media only screen and (min-width: 728px) {

    .logo { 
        width:75pt;
        }
  }
  
  @media only screen and (min-width: 1535px) {

    .logo { 
        width:90pt;
      }
    }
  


  /* Navigation bar*/
  
  .nav {
    margin-left:2px;
    overflow: auto;
      }
  
  /*  bar icon */
  .nav a {
   display:none;
  }
  
  .nav b {
      float: left;
      text-align: center;
      padding: 4px;
      color: #000000;
      text-decoration: none;
      font-size: 17px;
        }
  
  .nav b:hover {
      background-color: #000000;
      color:white;
    }
  

  
  @media only screen and (min-width: 728px) {
  
      .nav {
         background-color: #000000;
            overflow: auto;
            margin-left:2px;
        margin-right:2px;
        }
      
      .nav a {
          float: left;
          text-align: center;
          padding: 9px;
          color: white;
          text-decoration: none;
          font-size: 17px;
          display:inherit;
        }
  
        
  .nav b {
      float: right;
      text-align: center;
      padding: 10px;
      color: white;
      text-decoration: none;
      font-size: 17px;
      margin-right:5px;
  }
  
  .nav b:hover {
      background-color: #555;
    }

    .nav a:hover {
        background-color: #555;
      }
    }


  @media only screen and (min-width: 1535px) {
  
    .nav {
          background-color: #000000;
          overflow: auto;
      }
    
    .nav a {
        float: left;
        text-align: center;
        padding: 11px;
        color: white;
        text-decoration: none;
        font-size: 19px;
        display:inherit;
      }

      
.nav b {
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 19px;
    margin-right:5px;
}

.nav b:hover {
    background-color: #555;
      }

  .nav a:hover {
      background-color: #555;
    }
}
  
  /* first block */
/*animation changing color*/
@keyframes textmobile {
    from {color:black ;}
    to {color:#FFD700 ;}
  }

  .cover{
    width:100%;
    object-fit: cover;
    margin-left:0px;
    margin-right:0px;
    text-align:center;
  }

  .block1text {
     padding:10px;
     margin-top:-4px;
      color:#000000;
      border:2px solid #000000;
      font-size:10pt;
      font-weight:400;
      letter-spacing:3px;
      margin-bottom:20px;
      animation:textmobile 5s infinite;
 }

 
  @media only screen and (min-width: 728px) {
    /*animation changing colour*/
    @keyframes texttablet {
        from {color:white ;}
         to {color:yellow ;}
      }

    .block1text {
      width:100%;
      top:30%;
      padding:1.5em;
      border: 3px solid #ffffff;
      letter-spacing:3px;
      color:#ffffff;
      font-size:15pt;
      position:absolute;
      text-align:center;
      animation:texttablet 4s infinite;
    }

    .cover{
        width:99.5%;
        height:35%;
        object-fit: cover;
        margin-left:2px;
        margin-right:2px;
        text-align:center;
      }
  }

  @media only screen and (min-width: 1535px) {
      /*animation changing color*/
    @keyframes textdesktop {
        from {color:white ;}
         to {color:yellow ;}
      }

    .block1text {
      width:100%;
      top:30%;
      padding:1.5em;
      border: 3px solid #ffffff;
      letter-spacing:9px;
      color:#ffffff;
      font-size:30pt;
      position:absolute;
      text-align:center;
      animation:textdesktop 4s infinite;
    }

    .cover{
        width:99.7%;
        height:90%;
        object-fit: cover;
        margin-left:2px;
        margin-right:2px;
        text-align:center;
      }
  }
  

  
  /* second block-icon */
   .icon{
      padding:30px;
      text-align: center;
      font-size:11pt;
          }
   
   @media only screen and (min-width: 768px) {
     .icon {
        padding-bottom:50px;
        padding-top:50px;
       text-align: center;
       font-size:12pt;
     }
   }
      
   @media only screen and (min-width: 1535px) {
    .icon {
       padding-bottom:100px;
       padding-top:100px;
      text-align: center;
      font-size:17pt;
    }
  }
     
  
   /* Third block*/
  
   .img{
   Display:none;
   }
  
   .block3text{
      text-align:center;
      padding:1px;
      color:#000000;
      font-size:18pt;
      letter-spacing:3px; 
      margin-top:20px;
   }
  
   @media only screen and (min-width: 768px) {
      .img{
          width: 99.5%;
          height:20%;
          object-fit: cover;
          display:inherit;
          margin-left:2px;
        margin-right:2px;
        margin-bottom:40px;
                }

           /*animaion changing color*/
    @keyframes text3tablet {
        from {color:white ;}
         to {color:black ;}
       }

       .block3text{
        font-size:20pt;
        letter-spacing:9px;
         color:#ffffff;
         text-align:center;
         position:absolute;
         border:none;
         width:100%;
         top:30%;
         animation:text3tablet 4s infinite;
         }
        }

      @media only screen and (min-width: 1535px) {
        .img{
            width: 99.5%;
            height:60%;
            object-fit: cover;
            display:inherit;
              margin-left:2px;
             margin-right:2px;
             margin-bottom:60px;
                  }

            @keyframes text3desktop {
            from {color:white ;}
             to {color:black ;}
             }
  
         .block3text{
          font-size:30pt;
          letter-spacing:9px;
           color:#ffffff;
           text-align:center;
           position:absolute;
           border:none;
           width:100%;
           top:35%;
           animation:text3desktop 4s infinite;
             }
            }
  


  
  /* fourth block */
  .box{
         color:#000000;
      text-align: center;
      font-size:10pt;
      }
  
  .box1{
           color:#000000;
          text-align: center;
          font-size:10pt;
      }

  .box2{
             color:#000000;
              text-align: center;
              font-size:10pt;
          }
  
   @media only screen and (min-width: 728px) {
          .box {
          padding:1em 1em;
            font-size:8pt;
            top:45%;
            color:#ffffff;
            text-align:center;
            border: 2px solid #ffffff;
            position:absolute;
            left:38%;
          }

          .box1{
            padding:1em 1em;
            font-size:8pt;
              color:#ffffff;
              text-align:center;
              border: 2px solid #ffffff;
              position:absolute;
              top:45%;
              right:43%;
            }

            .box2{
                padding:1em 1em;
                font-size:8pt;
              color:#ffffff;
              text-align:center;
            border: 2px solid #ffffff;
              position:absolute;
                 top:45%;
              right:35%;
            }
     }
  
   @media only screen and (min-width: 1535px) {
    .box {
    padding:2em 2em;
      font-size:13pt;
      top:22%;
      color:#ffffff;
      text-align:center;
      border: 2px solid #ffffff;
      position:absolute;
      left:38%;
    }

    .box1{
        padding:2em 2em;
        font-size:13pt;
        top:22%;
        color:#ffffff;
        text-align:center;
        border: 2px solid #ffffff;
        position:absolute;
       right:39%;
      }

      .box2{
        padding:2em 2em;
        font-size:13pt;
        top:22%;
        color:#ffffff;
        text-align:center;
        border: 2px solid #ffffff;
        position:absolute;
        right:37%;
      }

}


  /*Fifth block*/
  
  .box3{
    padding-bottom:7px;
      color:#000000;
      text-align: center;
      font-size:10pt;
        }

  @media only screen and (min-width: 728px) {
      .box3 {
        padding:1em 1em;
        font-size:8pt;
          color:#ffffff;
          text-align:center;
          border: 2px solid #ffffff;
          position:absolute;
          top:45%;
          left:40%;
        }
  }

  @media only screen and (min-width: 1535px) {
    .box3 {
        padding:2em 2em;
        font-size:13pt;
        top:25%;
        color:#ffffff;
        text-align:center;
        border: 2px solid #ffffff;
        position:absolute;
         left:40%;
              }
}

  .quote {
      display:none; 
    }

  .quote2{
      padding-top:0px;
      padding-left:18px;
      padding-right:15px;
      font-size:12pt;
      color:#0B0000;
      font-style:italic;
      font-weight: bold;
      text-align:center;
    }
  
  @media only screen and (min-width: 728px) {
  .quote{
       display:none; 
  }

  .quote2{
      padding-top:50px;
      padding-left:30px;
      padding-right:50px;
     font-weight: bold;
      font-size:14pt;
      color:#000000;
      text-align:center;
  }
    }
  
    @media only screen and (min-width: 1535px) {
        .quote{
             display:inherit; 
             font-size:15pt;
             color:#000000;
             text-align:center;
             padding-top:40px;
            padding-left:30px;
            padding-bottom: 10px;
            padding-right:70px;
            font-weight: bold;
        }

        .quote2{
            padding-top:10px;
            padding-left:30px;
            padding-right:70px;
            font-weight: bold;
            font-size:15pt;
            color:#000000;
            text-align:center;
        }
          }
        


  /* Portfolio */
  
  .title1 {
      text-align:center;
      padding:1px;
      color:#000000;
      border:3px solid #000000;
      font-size:20pt;
      letter-spacing:7px;
     font-weight: bold;
     margin-top:50px;
     margin-bottom:30px;
     width:100%;
  }
  
  .foliotext{
      font-size:10pt;
      margin-bottom:20px;
      
    }
  
  
  @media only screen and (min-width: 728px) {
      .title1 {
          font-size:30pt;
         color:#000000;
         text-align:center;
        border:none;
        letter-spacing:5px;
    }
  
      .foliotext{
          font-size:13pt;
          margin-bottom:30px;
          
      }
  }
  
  @media only screen and (min-width: 1535px) {
    .title1 {
        font-size:40pt;
       color:#000000;
       text-align:center;
       border:none;
      letter-spacing:8px;
    }

    .foliotext{
        font-size:13pt;
        margin-bottom:30px;
       
    }
}


  /* contact details */
  
  .ctc{
      margin-top:40px;
      text-align:center;
      font-size:15pt;
      letter-spacing:3px;
    }

    .ctc1{
      margin-bottom:5px;
      text-align:center;
      font-size:6pt;
      letter-spacing:3px;
      font-style:italic;
    }
  
  .ctcdetail{
    display:none;
  } 
  
  .contact-form {
    margin-top:5px;
    margin-right:10px;
    margin-left:20px;
  }
  
  .textname{
      padding:10px;
       margin-bottom: 10px;
      width:100%;
      border:2px solid #000000;
  }
  
  .textbox {
    width: 100%;
    margin-bottom: 2px;
    border:2px solid #000000;
    padding: 10px;
  }
  
  .button1{
      text-align:center;
      padding:8px;
      border-radius: 4px;
      cursor: pointer;
      color:#ffffff;
      background-color: #778899;
      float:right;
      margin-top:5px;
      margin-bottom:30px;
      }

    .button1:hover{
        opacity:0.8;
    }
  
      @media only screen and (min-width: 728px) {
          .ctc{
              margin-top:40px;
              text-align:center;
              font-size:20pt;
              letter-spacing:3px;
            }

            .ctc1{
              margin-bottom:70px;
              text-align:center;
              font-size:8pt;
              letter-spacing:3px;
              font-style:italic;
            }
          
          .ctcdetail{
              margin-top:30px;
              margin-bottom:70px;
              margin-left:100px;
              font-size:15pt;
              font-weight:bold;
              display:inherit;
          } 
          
          .contact-form {
           margin-bottom:100px;
            padding: 20px;
            margin-right:80px;
            margin-left:20px;
          }
          
          .textname{
              padding:10px;
               margin-bottom: 10px;
              width:100%;
              border:2px solid #000000;
          }
          
          .textbox {
            width: 100%;
            border:2px solid #000000;
            padding: 10px;
          }
          
          .button1{
              text-align:center;
              padding:10px;
              border-radius:4px;
              cursor: pointer;
              color:#ffffff;
              background-color: #000000;
              float:right;
                 }
      }
  
      @media only screen and (min-width: 1535px) {
        .ctc{
            margin-top:40px;
            text-align:center;
            font-size:25pt;
            letter-spacing:4px;
          }

          .ctc1{
            margin-bottom:60px;
            text-align:center;
            font-size:9pt;
            letter-spacing:3px;
            font-style:italic;
          }
        
        .ctcdetail{
            margin-top:30px;
            margin-bottom:70px;
            margin-left:100px;
            font-size:18pt;
            font-weight:bold;
            display:inherit;
        } 
        
        .contact-form {
         margin-bottom:100px;
          padding: 20px;
          margin-right:100px;
          margin-left:220px;
        }
        
        .textname{
            padding:12px;
            margin-bottom: 10px;
            width:100%;
            border:2px solid #000000;
        }
        
        .textbox {
          width: 100%;
          border:2px solid #000000;
          padding: 12px;
        }
        
        .button1{
            text-align:center;
            padding:12px;
            border-radius:4px;
            cursor: pointer;
            color:#ffffff;
            background-color: #000000;
            float:right;
            }
    }


  /* footer */
  .footerblock{
      text-align:center;
      padding-top:30px;
      padding-bottom:30px;
      color:#fff ;
      background-color:#000000;
      }
   
    .socialsize{
              font-size:10pt;
          }
  
   @media only screen and (min-width: 728px) {
  
      .footerblock{
          text-align:center;
          padding-top:85px;
          padding-bottom:85px;
          color:#fff;
          background-color:#000000;
          }
  
          .socialsize{
              font-size:13pt;
          }
            }

            @media only screen and (min-width: 1535px) {
  
                .footerblock{
                    text-align:center;
                    padding-top:85px;
                    padding-bottom:85px;
                    color:#fff;
                    background-color:#000000;
                    }
            
                    .socialsize{
                        font-size:15pt;
                    }
                      }